<div class="container">
  <div class="row">
    <div class="col-sm-8" style="border: 1px solid blue">
      <h1><%= @artists.name %></h1>
        <h4>Albums (<%= @albums.count %>)</h4>
          <div class="container">
            <div class="row">
              <% @albums.each do |album|  %>
                <div class="col-md-3">
                  <div class="card mb-4 shadow-sm">
                    <img class="card-img-top card-img-artist" src=<%= album.image_url %>>
                      <div class="card-body">
                        <h4 class="card-title"><%= album.name %></h4>
                        <small><%= album.released_at %></small>	
                      </div>
                    </div>
                  </div>
                <% end %>
              </div>
            </div>
          </div>
          <div class="col-sm-4" style="border: 1px solid blue">
            <img src=<%= @artists.image_url %> alt="..." class="img-thumbnail">
          </div>
    </div>
